In [2]:
import pandas as pd

In [3]:
filepath = "../data/raw/CEASalespersonsPropertyTransactionRecordsresidential.csv"

In [4]:
df = pd.read_csv(filepath)

In [6]:
df.head()

,salesperson_name,transaction_date,salesperson_reg_num,property_type,transaction_type,represented,town,district,general_location
0,SOH HUI HUA,OCT-2017,P000003I,HDB,RESALE,SELLER,YISHUN,-,-
1,SOH HUI HUA,MAR-2018,P000003I,HDB,RESALE,BUYER,KALLANG/WHAMPOA,-,-
2,SOH HUI HUA,JAN-2017,P000003I,HDB,RESALE,BUYER,YISHUN,-,-
3,SOH HUI HUA,MAY-2018,P000003I,HDB,RESALE,SELLER,CHOA CHU KANG,-,-
4,SOH HUI HUA,NOV-2017,P000003I,HDB,RESALE,SELLER,CHOA CHU KANG,-,-

In [8]:
df.group_by("property_type").count()

AttributeError: 'DataFrame' object has no attribute 'group_by'